= render "static_sections/home_landing_cover"
= render "static_sections/right_image_with_text"
= render "static_sections/full_width_equal_cards"
= render "static_sections/left_image_with_text"
= render "static_sections/callout"
= render "static_sections/posts"
= render "static_sections/sponsors"
= render "static_sections/3x3_grid"
= render "static_sections/epic_landscape"
