= render "shared/sections/home_landing_cover"
= render "shared/sections/right_image_with_text"
= render "shared/sections/full_width_equal_cards"
= render "shared/sections/left_image_with_text"
= render "shared/sections/callout"
= render "shared/sections/posts"
= render "shared/sections/sponsors"
= render "shared/sections/events_grid", events: @events
= render "shared/epic_landscape"
