= render "shared/sections/home_landing_cover"
= render "shared/sections/values_row"
= render "shared/sections/events_grid", events: @events
= render "shared/sections/promo_photos_grid"
= render "shared/sections/sponsors"
