-# frozen_string_literal: true
= simple_form_for([:admin, @location], multipart: true) do |f|
  = f.error_notification
  - if f.object.errors[:base].present?
    = f.error_notification message: f.object.errors[:base].to_sentence
  .form-inputs
    %fieldset
      .form-row
        .col
          = f.input :name,
            hint: "The public name of the host location. Example: 'Davis Mountains State Park'"
        .col
          = f.input :external_website_link,
            hint: "Where can people go to learn more about this location? Set to '#' if unknown or unavailable.",
            input_html: { value: f.object.external_website_link || "#" }
      .form-row
        .col
          = f.input :short_description,
            hint: "A short sentence describing the location."
    %fieldset
      %legend Description
      .form-row
        .col
          = f.input :description_html,
            label: "Details",
            input_html: { class: "textarea-autosize" },
            hint: "This is where you can add some HTML to discuss this park. This will be shown on the events page."
    %fieldset
      %legend Images
      .form-row
        .col.form-group
          = f.file_field :cover_photo,
            direct_upload: true,
            class: "custom-input-file",
            type: 'file',
            "data-multiple-caption" => "{count} files selected"
          = f.label :promo_photos do
            %i.fa.fa-upload
            %span Select Promo Photos
        .col.form-group
          = f.file_field :promo_photos,
            multiple: true,
            direct_upload: true,
            class: "custom-input-file custom-input-file--2",
            type: 'file',
            "data-multiple-caption" => "{count} files selected"
          = f.label :promo_photos do
            %i.fa.fa-upload
            %span Select Promo Photos


    %fieldset
      %legend Address
      = f.input :address_text,
        as: :text,
        required: true
      = f.input :address_link,
        required: true,
        hint: "Google Maps link to this location."
    %fieldset
      %legend Settings
      = f.input :spectator_entry_fee_text,
        hint: "Describe what this Location charges for entry fees. Leave blank if unapplicable."
      = f.input :is_active
  %br
  .form-actions.justify-content
    = link_to admin_locations_path, class: "btn btn-md btn-outline-secondary", data: { confirm: "Careful! You will lose any progress you made on this form."} do
      %i.fas.fa-arrow-left
      Go Back
    = f.button :submit, class: "btn btn-md btn-outline-success"
