%tr.bg-white
  %th{scope: "row"}
    .media.align-items-center
      %img.avatar.avatar-lg.mr-3{src: asset_path("https://picsum.photos/200/300/?random")}
      .media-body
        %h6.h5.font-weight-normal.mb-0
          = event.name
        %span.font-weight-normal.text-muted
          - event.races.each do |race|
            %a{href: admin_race_path(race)}
              %span.badge.badge-md.badge-primary= race.name
  %td
    = local_time event.starts_at
    %br
    %i.fas.fa-map-pin
    = link_to event.location_name, admin_location_path(event.location)
  %td
    .btn-group.float-right
      = link_to "Registrations",
        admin_registrations_path(event_id: event.id),
        class: "btn btn-sm btn-outline-tertiary"
      %button.btn.btn-sm.btn-outline-tertiary.dropdown-toggle.dropdown-toggle-split{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.sr-only Toggle Dropdown
      .dropdown-menu
        = link_to "Dashboard", admin_event_path(event), class: "dropdown-item"
        = link_to "Promo Page",
          event_path(event),
          class: "dropdown-item"
        %a.dropdown-item{href: edit_admin_event_path(event)} Edit
        .dropdown-divider
        = link_to admin_event_path(event), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item text-danger" do
          %i.fas.fa-exclamation-triangle
          Remove
%tr.table-divider
