%tr
  %td
    .media.align-items-center
      // = image_tag event.row_thumbnail, class: "img img-fluid rounded mr-2"
      .media-body
        %h6.h5.font-weight-normal.mb-0
          = event.name
        %span.font-weight-normal.text-muted
          - event.races.each do |race|
            %a{href: admin_race_path(race)}
              %span.badge.badge-md.badge-primary= race.name
  %td
    = event.starts_at.in_time_zone(event.time_zone).strftime("%A, %B %d, %Y")
    %br
    %i.fas.fa-map-pin
    = link_to event.location_name, edit_admin_location_path(event.location)
  %td
    .btn-group.float-right
      = link_to edit_admin_event_path(event),
        class: "btn btn-sm btn-outline-primary" do
        %i.fa.fa-edit
        Edit
      %button.btn.btn-sm.btn-outline-primary.dropdown-toggle.dropdown-toggle-split{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.sr-only Toggle Dropdown
      .dropdown-menu
        = link_to admin_event_path(event), class: "dropdown-item" do
          %i.fa.fa-tachometer-alt
          Dashboard
        = link_to event_path(event),
          class: "dropdown-item" do
          %i.fa.fa-star
          Promo Page
        - unless event.races.any?
          .dropdown-divider
            = link_to admin_event_path(event), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item text-danger" do
              %i.fas.fa-exclamation-triangle
              Remove
%tr.table-divider
