-# frozen_string_literal: true
= simple_form_for([:admin, @event]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    %fieldset
      %legend Basics
      = f.association :location, prompt: "Please select a Location for this Event"
      = f.input :name
      = f.input :short_description
      = f.input :starts_at
      = f.input :facebook_event_link
    %fieldset
      %legend Basics
      = f.input :overview_html, required: true, input_html: { class: "textarea-autosize" }
      = f.input :details_html, required: true, input_html: { class: "textarea-autosize" }
      = f.input :schedule_html, required: true, input_html: { class: "textarea-autosize" }
      = f.input :course_html, required: true, input_html: { class: "textarea-autosize" }
    %fieldset
      %legend Visibility
      = f.input :is_active, hint: "Will show in menu if active."

  .form-actions
    = f.button :submit, class: "btn btn-md btn-success"
