= content_for :admin_area_title do
  Attachments
.row
  .col-12
    .card
      %table.table.table-responsive-md
        %thead.thead-light
          %tr
            %th Preview
            %th Record
            %th Filename
            %th Size
            %th AWS ID
            %th Created
            %th
        %tbody
          - @attachments.each do |attachment|
            %tr.attachment-wrapper{id: "attachment-wrapper-#{attachment.id}"}
              %td
                %a{"data-gallery" => "example-gallery", "data-toggle" => "lightbox", href: url_for(attachment.blob)}
                  = image_tag url_for(attachment.blob),
                    class: "img-fluid avatar avatar-md"
              %td= attachment.record_type + ' ' + attachment.record_id.to_s + ' ' + attachment.name.humanize
              %td= attachment.blob.filename
              %td= (attachment.blob.byte_size / 1.0.megabyte).round(2).to_s + 'MB'
              %td= attachment.blob.key.upcase
              %td= local_time_ago attachment.created_at
              %td
                .btn-group
                  = link_to rails_blob_path(attachment, disposition: 'attachment'),
                    class: 'btn btn-sm btn-outline-tertiary' do
                    %i.fa.fa-download
                    Download
                  = link_to attachment_path(id: attachment.id),
                    method: :delete,
                    remote: true,
                    class: "btn btn-sm btn-outline-danger" do
                    %i.fa.fa-trash
                    Remove
.row.mt-3
  .col
    = paginate @attachments
