= content_for :admin_area_title do
  Dashboard

.row
  .col-6
    .card
      .card-header.bg-primary
        %h4.text-white Participants
      = column_chart Participant.with_payment.not_cancelled.not_archived.group_by_week(:created_at, range: 9.months.ago..Time.now).count
      .card-footer
        %p.text-muted Shows new paid-up participants (race-signups) net of cancellations grouped by week from 9 months ago.
  .col-6
    .card
      .card-header.bg-success
        %h4.text-white Payments
      = line_chart [{ name: "Payments", data: Payment.group_by_week(:created_at, range: 9.months.ago.beginning_of_day..Time.now).sum('amount_charged_in_cents / 100') }, { name: "Refunds", data: Refund.group_by_week(:created_at, range: 9.months.ago.beginning_of_day..Time.now).sum('amount_in_cents / 100') }], prefix: "$"
      .card-footer
        %p.text-muted Shows payments and refunds made during the last 9 months ago.
.row.mt-2
  .col-12
    .card
      .card-header.bg-primary
        %h4.text-white Participation
      %table.table.table-condensed
        %thead
          %th Race
          %th Paid Participants
          %th Participant Cap
          %th Spots Remaining
          %th Pending Participants
        %tbody
          - @races.each do |race|
            %tr
              %td
                = link_to event_race_participants_path(race.event, race), target: "_blank" do
                  %i.fa.fa-external-link-alt{"data-placement" => "right", "data-toggle" => "tooltip", :title => "See the start list"}
                  = race.name_with_event
              %td= race.paid_participants_count
              %td= race.participants_cap
              %td= race.participants_cap - race.paid_participants_count
              %td= race.participants.size - race.paid_participants_count
