= simple_form_for(registration, url: wizard_path, validate: true, html: { id: "PaymentStepForm" }) do |f|
  = f.error_notification
  - if f.object.errors[:base].present?
    = f.error_notification message: f.object.errors[:base].to_sentence
  .form-inputs
    %fieldset
      %h4 Refund Policy
      %div.text-muted.waiver-container
        %span= registration.event.refund_policy_html.html_safe
      %small.text-danger
        Please scroll to read the entire term set.
        Policies may vary between Events.
      %b
      = f.input :accepts_refund_terms,
        as: :radio_buttons,
        required: true,
        label: "I have read, understood, and accept the refund policy for this Event.",
        input_html: { id: "js-refund-terms-radio-input" }
    %fieldset
      %h4 Checkout
      = f.input :discount_code,
        label: "Discount Code",
        hint: "If you have been given a discount code, enter it here!",
        wrapper: :vertical_input_group do
        = f.input_field :discount_code, class: "form-control", input_html: { default: "" }
        .input-group-append
          %button.btn.btn-sm.btn-primary#CheckDiscountCodeButton{disabled: true, type: "button", data: { registration_id: @registration.id }} Check
      .form-group{class: @card_errors.present? ? "border-danger" : ""}
        %label{for: "card-element"}
          Input Your Card Details
        #card-element
        #card-errors
          - if @card_errors.present?
            = flash[:error]
      = f.input :billing_email,
        required: true,
        validate: true,
        hint: "Where do you want the receipt to go?",
        input_html: { value: registration.default_billing_email }
    %h4
      Your final total will be:
      %span.float-right#FinalTotal= number_to_currency @registration.amount_to_charge / 100

    %br
    .form-actions
      = f.button :submit,
        "Complete my registration and pay now!",
        id: 'stripe_button',
        class: 'btn btn-md btn-success btn-block',
        disabled: true
    .text-center.text-muted.my-3
      %i.fa.fa-lock.text-success
      %i.fab.fa-stripe
