%script{:src => "https://js.stripe.com/v3/"}
%section.slice.slice-lg
  .container
    .row
      .col-sm-12.col-md-4.col-lg-3.d-none.d-md-block
        = render "events/card",
          event: @event.decorate,
          context_classes: "sticky-top sticky-top-offset-8",
          show_footer: false
      .col-sm-12.col-md-8.col-lg-6
        %noscript
          = render 'shared/no_script_warning'
        .card.border-primary
          = render 'registration_steps/card_headers/payment',
            event: @event,
            registration: @registration
          .card-body
            - if @registration.paid?
              %h4 Successfully charged card!
              = link_to "Show Confirmation Page",
                event_registration_step_path(@event, @registration, "confirmation")
            - else
              = render 'registration_steps/forms/payment',
                registration: @registration
