%section.slice.slice-lg
  .container
    .row
      .col-sm-12.col-md-4.col-lg-3.d-none.d-md-block
        = render "events/card",
          event: @event.decorate,
          context_classes: "sticky-top sticky-top-offset-8",
          show_footer: false
      .col-sm-12.col-md-8.col-lg-6
        %noscript
          = render 'shared/no_script_warning'
        .card.border-primary
          = render 'registration_steps/card_headers/waiver',
            event: @event,
            registration: @registration
          .card-body
            %h4 Waiver for #{@event.name}
            %p This information helps keep you safe!
            %hr
            = render 'registration_steps/forms/waiver',
              registration: @registration
