.card.bg-dark.sticky-top.sticky-top-offset-4.mb-3
  %img.card-img-top{alt: "Race Card Image", src: race.card_image_cap}
  .card-body
    %h4.card-title.text-white= race.name_with_event
    %h6.text-success
      Price:
      = number_to_currency(race.price_in_cents/100)
    %p.card-text.text-white= race.short_description
  .card-footer.bg-dark.text-white
    %i.fas.fa-calendar-alt
    = local_time race.starts_at
    = link_to "Register Now!", new_event_registration_path(event_id: race.event.slug, race_id: race.id)
