!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Spectrum
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "admin/base", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "admin/base", "data-turbolinks-track": "reload"
  %body{id: "", class: "admin"}
    %main.container-fluid{role: "main"}
      .container-fluid
        .row
          .col-2
            = render "navigation/working_list"
          .col-8
            = yield
