!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "Probably the most complete UI kit out there. Multiple functionalities and controls added,  extended color palette and beautiful typography, designed as its own extended version of Bootstrap at  the highest level of quality.                             ", :name => "description"}/
    %meta{:content => "Webpixels", :name => "author"}/
    %title ADMIN
    %link{:href => "https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700", :rel => "stylesheet"}/
    = favicon_link_tag asset_path("favicon")
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
  %body
    = render "admin/navigation/aside"
    %section.content
      = render "admin/navigation/header"
      .content-inner.content-docs
        .container-fluid
          = yield
      = render "admin/navigation/footer"
