%fieldset
  %legend.h5 Select Your Race Distance
  .form-group
    = f.association :race,
      collection: @event.races.active,
      as: :radio_buttons,
      label_method: :name_with_event
%hr
%fieldset
  = f.input :first_name, label: "Your First Name"
  = f.input :last_name, label: "Your Last Name"
  = f.input :birth_date, as: :date, html5: true, label: "Your Birthdate", placeholder: "mm/dd/yyyy", input_html: { class: "masked-date" }
  = f.input :division,
    as: :radio_buttons,
    collection: ["Male", "Female", "Open"],
    item_wrapper_class: "inline custom-control custom-radio"
%hr
%fieldset
  %legend.h5 Contact
  = f.input :phone, as: :tel
  = f.input :email
%hr
%fieldset
  %legend.h5 Address
  = f.input :address
  = f.input :city
  = f.input :state, collection: states_list, class: "form-control selectpicker", prompt: "Select A State"

%hr
%fieldset
  %legend.h5 Emergency Contact
  %p.text-muted.small Who would you like us to call in the extremely rare case of an emergency?
  = f.input :emergency_contact_name
  = f.input :emergency_contact_phone
  = f.input :medical_conditions,
    as: :text,
    input_html: { class: "textarea-autosize" },
    hint: "Do you have any medical conditions that might affect first aid?"

%hr
%fieldset
  %legend.h5 Waivers
  %div.text-muted.waiver-container
    %span= @event.waiver_html.html_safe
  %small.text-danger Please scroll to read the entire term set.
  %b
  = f.input :accepts_waiver, as: :radio_buttons, required: true, label: "I have read, understood, and accept the agreement above. My submission of this form shall act as my legal signature."
