%fieldset
  = ff.association :race,
    collection: @event.registerable_race_array,
    as: :radio_buttons,
    label: "Select a Race"
  = f.input :first_name, label: "Your First Name"
  = f.input :last_name, label: "Your Last Name"
  = f.input :email
%fieldset
  = f.input :phone, as: :tel, hint: "Used for important Race updates."
  = f.input :address
  = f.input :city
  = f.input :state, collection: states_list, class: "form-control selectpicker", prompt: "Select A State"
  = f.input :zip
  = f.input :birth_date, as: :string, label: "Your Birthdate", placeholder: "mm/dd/yyyy", input_html: { class: "date masked-date" }
  = f.input :division,
    as: :radio_buttons,
    collection: ["Male", "Female", "Open"],
    item_wrapper_class: "inline custom-control custom-radio",
    label: "Gender"
%fieldset
  = f.input :emergency_contact_name
  = f.input :emergency_contact_phone, as: :tel
  = f.input :medical_conditions,
    as: :text,
    input_html: { class: "textarea-autosize" },
    hint: "Do you have any medical conditions that might affect first aid?"
  %h5 Waiver
  %div.text-muted.waiver-container
    %span= @event.waiver_html.html_safe
  %small.text-danger Please scroll to read the entire term set.
  %b
  = f.input :accepts_waiver, as: :radio_buttons, required: true, label: "I have read, understood, and accept the agreement above. My submission of this form shall act as my legal signature."
