%tr
  %td= participant.first_name
  %td= participant.last_name
  %td= participant.division[0].upcase
  %td= distance_of_time_in(:year, Time.current, participant.birth_date)
  %td #{participant.city}, #{participant.state}
