%tr
  %td= participant.first_name
  %td= participant.last_name
  %td= participant.division[0].upcase
  %td= participant.race_age
  %td #{participant.city}, #{participant.state}
  - if @event.present && @event.allows_teams?
    %td= participant.team_name
