= content_for :admin_area_title do
  Archived Races
.row
  .col
    = render "table"
.row.mt-3
  .col
    = paginate @races
.row.mt-3
  .col-12
    = link_to 'Show Active Races', admin_races_path
    .float-right
      = link_to "Create New Race",
        new_admin_race_path,
        class: "btn btn-sm btn-success"
