-# frozen_string_literal: true
= simple_form_for([@event, @registration], validate: true) do |f|
  = f.input :started_at, as: :hidden, input_html: { value: @registration.started_at }
  = f.input :step_to_validate, as: :hidden, input_html: { value: "start" }
  = f.error_notification
  - if f.object.errors[:base].present?
    = f.error_notification message: f.object.errors[:base].to_sentence

  .form-inputs
    = f.simple_fields_for :participant do |ff|
      = ff.input :event_id, as: :hidden, input_html: { value: @event.id }
      %fieldset
        = ff.association :race,
          collection: @event.races.active.by_starts_at,
          as: :radio_buttons,
          label_method: :name_with_event_and_price,
          label: "Select a Race"
        = ff.input :first_name, label: "First Name"
        = ff.input :last_name, label: "Last Name"
        = ff.input :email
  .form-actions
    .float-right
      = f.button :submit, "Next Step", class: "btn btn-success btn-md"
