-# frozen_string_literal: true
= simple_form_for([@event, @registration]) do |f|
  = f.error_notification
  - if f.object.errors[:base].present?
    = f.error_notification message: f.object.errors[:base].to_sentence

  .form-inputs
    %fieldset
      %legend Let's get started!
      = f.input :starting_name, label: "What is your name?", required: true
      = f.input :starting_email, label: "What is your email?", as: :email, required: true

    %fieldset

  .form-actions
    .float-right
      = f.button :submit, "Next", class: "btn btn-success btn-md"
