-# frozen_string_literal: true
= simple_form_for([@event, @registration], validate: true) do |f|
  = f.error_notification
  - if f.object.errors[:base].present?
    = f.error_notification message: f.object.errors[:base].to_sentence

  .form-inputs
    = f.simple_fields_for :participants do |builder|
      = render "participants/fields", f: builder, selected_race: @race

  .form-actions
    .float-right
      = f.input :started_at, as: :hidden, value: @registration.started_at
      = f.button :submit, class: "btn btn-success btn-md"
