%section.slice.slice-lg
  .container
    .row
      .col-sm-12.col-md-4.col-lg-3.d-none.d-md-block
        = render "events/card",
          event: @event.decorate,
          context_classes: "sticky-top sticky-top-offset-6",
          show_footer: false
      .col-sm-12.col-md-8.col-lg-6
        %noscript
          = render 'shared/no_script_warning'
        .card.border-primary
          = render 'header', event: @event, registration: @registration
          .card-body
            %h4 Start your Registration for #{@event.name}
            %p
              We are
              %strong.text-success so excited
              for
              %strong you
              to join us! Be sure to
              %a{href: "#"} sign in
              if you have an account!
            = render "form"
