Hi Mallory,

We have a new volunteer registration for #{@event.name} on #{@event.starts_at_date_string} at #{@event.location_name}.

Event: #{@volunteer.event.name}
Position: #{@volunteer.volunteer_position.name}
First Name: #{@volunteer.first_name}
Last Name: #{@volunteer.first_name}
Email: #{@volunteer.email}
Time: #{@volunteer.time}
Entered: #{@volunteer.created_at.localtime}
