= render "events/sections/landing_spotlight"
%section.slice
  .container
    .row
      .col-sm-12.col-md-4.col-lg-3
        = render "events/sections/menu"
      .col-sm-12.col-md-8.col-lg-9
        .scrollspy-example{"data-spy" => "scroll", "data-target" => "#EventMenu"}
          = render "events/sections/promo_video"
          = render "events/sections/overview"
          = render "events/sections/registration"
          = render "events/sections/schedule"
          = render "events/sections/details"
          = render "events/sections/courses"
          = render "events/sections/photos"
          = render "events/sections/location"
          = render "events/sections/lodging"
          = render "events/sections/faq"

:javascript
  $('body').scrollspy({
    target: '#EventMenu',
    offset: 25
  });
