%section.spotlight.bg-cover.bg-size--cover{"data-spotlight" => "fullscreen", style: "background-image: url(#{asset_url('https://static1.squarespace.com/static/54243c3be4b062fcf1a0dab1/5a9fd6b98165f526fc6e0440/5a9fd6c353450a19d22839c9/1525273687433/Spectrum+Trail+Race+-+Ft+Davis+-++055.jpg')})"}
  %span.mask.bg-dark.alpha-7
  .spotlight-holder.py-lg.pt-lg-xl
    .container.d-flex.align-items-center.no-padding
      .col
        .row.cols-xs-space.text-center.text-md-left.justify-content-center
          .col-lg-10
            .text-center.mt-5
              %small.text-muted= local_time(@event.starts_at, '%B %e, %Y')
              %h1.heading.h1.text-white= @event.name.upcase
              %p.lead.lh-180.text-white.mt-3
                = @event.short_description

%section.slice
  .container
    .row
      .col-sm-12.col-md-4.col-lg-3
        .card.bg-black.sticky-top.mb-3
          %img.img-fluid.img-center{src: asset_path("https://static1.squarespace.com/static/54243c3be4b062fcf1a0dab1/t/5bbf884e0d929792c0575167/1539298374064/SkyIsland2018.jpg")}
          #EventMenu.list-group
            %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#OverviewSection"} Overview
            %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#LocationSection"} Location
            %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#ScheduleSection"} Schedule
            %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#DetailsSection"} Details
            %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#PhotosSection"} Photos
            %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#ResultsSection"} Results
            %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#FaqSection"} FAQ
      .col-sm-12.col-md-8.col-lg-9
        .scrollspy-example{"data-spy" => "scroll", "data-target" => "#EventMenu"}
          %section#OverviewSection
            %h2.pt-1 Overview
            %p= @event.overview_html.html_safe
          %section.slice#LocationSection
            %h2.pt-1 Location
            %p= @event.location.long_description
          %section.slice#ScheduleSection
            %h2.pt-1 Schedule
            %p= @event.schedule_html.html_safe
          %section.slice#DetailsSection
            %h2.pt-1 Details
            %p= @event.details_html.html_safe
          %section.slice#PhotosSection
            %h2.pt-1 Photos
            %p= @event.overview_html.html_safe
          %section.slice#ResultsSection
            %h2.pt-1 Results
            %p= @event.overview_html.html_safe
          %section.slice#FaqSection
            %h2.pt-1 FAQ
            %p= @event.overview_html.html_safe

:javascript
  $('body').scrollspy({
    target: '#EventMenu',
    offset: 50
  });
