.card.border-dark
  .card-header.bg-dark
    %h5.text-white.float-left Payment
    .float-right
      = link_to new_admin_refund_path(payment_id: payment.id), class: "btn btn-sm btn-warning" do
        Create Refund
  %ul.list-group
    %li.list-group-item
      %strong.text-uppercase id
      %br
      = payment.id
    %li.list-group-item
      %strong.text-uppercase created
      %br
      = local_time payment.created_at
    %li.list-group-item
      %strong.text-uppercase Accepts Refund Terms
      %br
      .text-uppercase= payment.registration.accepts_refund_terms
    %li.list-group-item
      %strong.text-uppercase Amount
      %br
      = number_to_currency payment.amount_in_dollars
    %li.list-group-item
      %strong.text-uppercase Charge
      %br
      - if payment.stripe_charge_id.present?
        = link_to payment.stripe_charge_link_address, target: "_blank" do
          %i.fab.fa-stripe
          = payment.stripe_charge_id
      - else
        %span.text-warning Stripe Charge ID not set.
    %li.list-group-item
      %strong.text-uppercase Customer
      %br
      - if payment.stripe_customer_id.present?
        = link_to payment.stripe_customer_link_address, target: "_blank" do
          %i.fab.fa-stripe
          = payment.stripe_customer_id
      - else
        %span.text-warning Stripe Customer ID not set.
    %li.list-group-item
      %strong.text-uppercase Discount Code
      %br
        - if discount_code.present?
          = link_to discount_code.code, admin_discount_code_path(discount_code)
        - else
          None.
    %li.list-group-item
      %strong.text-uppercase Refunded?
      %br
        - if payment.refunded?
          - payment.refunds.each do |refund|
            = link_to admin_refund_path(refund) do
              = number_to_currency(refund.amount_in_cents / 100)
        - else
          %i.fa.fa-times.text-danger
