Well, well... #{@participant.full_name}!


Congratulations! You’ve just made the best decision ever: to join a bunch of fellow trail runners at #{@race.name_with_event} on #{@event.starts_at_date_string} at #{@race.start_time_with_zone} hosted at #{@event.location_name}.


This email confirms you have completed your registration and we are working hard to get everything ready for you!


99% of your questions can be answered by going to SpectrumTrailRacing.com


All other questions can be emailed to mallory@spectrumtrailracing.com, but be warned that we will respond with a sarcastic email if your question could have been answered by going to our website.


For now, do your I-just-registered-for-a-Spectrum-race celebratory dance and then get back to training hard.


If you have anyone in your posse who would like to volunteer, please connect them with us! We are always looking for aid station crew, and you will appreciate the friendly face out on the course. They will earn a race discount, too!


We look forward to seeing you out on the trails very soon!

Jason, Mallory, and Paxton
