-# frozen_string_literal: true
= simple_form_for([:admin, @registration]) do |f|
  = f.error_notification
  - if f.object.errors[:base].present?
    = f.error_notification message: f.object.errors[:base].to_sentence

  .form-inputs
    = f.input :cancelled_at
    = f.input :cancellation_reason, as: :text, hint: "For reference, why is this person cancelling their registration? Put any notes related to the circumstances here."

  .form-actions
    = f.button :submit, 'Cancel this registration!', class: "btn btn-md btn-danger", data: { confirm: "Once cancelled, this Registration's participant will be removed from the start list. They will NOT be able to re-register with this email address. Are you sure you want to proceed? Undoing this will require calling Colin." }
    .mt-4
      = link_to 'Nevermmind, take me back!', :back
