%tr
  %td= registration.id
  %td
    - if registration.complete?
      %i.fas.fa-check-circle.text-success
      = local_time registration.completed_at
    - elsif registration.cancelled?
      %i.fa.fa-ban.text-danger
      = local_time registration.cancelled_at
    - else
      %i.fas.fa-circle-notch.text-warning
      = local_time_ago registration.updated_at

  %td= registration.event_race_name_link
  %td= registration.participant_name
  %td= mail_to registration.default_billing_email
  %td
    = link_to admin_registration_path(registration) do
      %i.fas.fa-receipt
      Details
