%tr
  %td= registration.id
  %td= registration.status
  %td= registration.event_race_name_link
  %td= registration.participant_name
  %td= mail_to registration.default_billing_email
  %td
    = link_to admin_registration_path(registration) do
      %i.fas.fa-receipt
      Details
