.row
  .col-3
    = render @race
  .col-9
    .row.justify-content-between
      .col-10
        %h1="Registrations for #{@event.name} #{@race.name}"
      .col-2
        = link_to new_admin_event_race_registration_path(@event, @race), class: "btn btn-md btn-success" do
          New
    %hr
    - if @registrations.any?
      = render "table"

    - else
      .row
        .col
          .text-center
            %h4.text-muted.p-4
              No registrations exist yet.
