= content_for :admin_area_title do
  Registration ##{@registration.id}
%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => "#", :onclick => "history.back();"} Registrations
    %li.breadcrumb-item.active{"aria-current" => "page"} ##{@registration.id}
.row
  .col-4
    = render "admin/registrations/card", registration: @registration
    %br
  .col-4
    - if @participant.present?
      = render "admin/participants/card", participant: @participant
    - else
      %div.alert.alert-danger
        Participant not defined. Call Colin immediately if you're seeing this.
    %br
  .col-4
    - if @payment.present?
      = render "admin/payments/card", payment: @payment, discount_code: @registration.discount_code
    - else
      %div.alert.alert-warning
        There is no payment for this registration. It must not be complete.
