%tr
  %td= discount_code.code
  %td= discount_code.description
  %td= discount_code.registrations_count
  %td= local_time_ago discount_code.created_at
  %td= number_with_delimiter discount_code.registrations.size
  %td
    .dropdown
      %button.btn.btn-sm.btn-outline-tertiary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Actions
      .dropdown-menu
        = link_to "Show", admin_discount_code_path(discount_code), class: "dropdown-item"
        = link_to "Change", edit_admin_discount_code_path(discount_code), class: "dropdown-item text-warning"
        - unless discount_code.used?
          = link_to "Cancel", admin_discount_code_path(discount_code), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item text-danger"
