%tr{class: discount_code.is_active? ? '' : 'table-danger text-white'}
  %td= discount_code.code
  %td= discount_code.description
  %td= discount_code.registrations_count
  %td= local_time_ago discount_code.created_at
  %td= number_with_delimiter discount_code.registrations.size
  %td
    .btn-group.float-right
      = link_to edit_admin_discount_code_path(discount_code),
        class: "btn btn-sm btn-outline-primary" do
        %i.fa.fa-edit
        Edit
      = link_to admin_discount_code_path(discount_code),
        class: "btn btn-sm btn-outline-tertiary" do
        %i.fa.fa-eye
        Show
      - unless discount_code.used?
        = link_to admin_discount_code_path(discount_code),
          method: :delete,
          data: { confirm: "Are you sure?" },
          class: "btn btn-sm btn-outline-danger" do
          %i.fa.fa-trash
          Remove
