= content_for :admin_area_title do
  Home Page Images

.row
  .col-12
    .card
      %table.table.table-responsive-md
        %thead.thead-light
          %tr
            %th Preview
            %th Name
            %th Order
            %th Created
            %th
        %tbody
          - @home_page_images.each do |home_page_image|
            %tr
              %td
                %a{"data-gallery" => "home-page-image-gallery", "data-toggle" => "lightbox", href: url_for(home_page_image.image)}
                  = image_tag url_for(home_page_image.image),
                    class: "img-fluid avatar avatar-md"
              %td= home_page_image.short_name
              %td= home_page_image.display_order
              %td= local_time_ago home_page_image.created_at
              %td
                .btn-group.float-right
                  = link_to edit_admin_home_page_image_path(home_page_image),
                    class: "btn btn-sm btn-outline-primary" do
                    %i.fa.fa-edit
                    Edit
                  = link_to admin_home_page_image_path(home_page_image),
                    method: :delete,
                    class: "btn btn-sm btn-outline-danger" do
                    %i.fa.fa-trash
                    Remove
