%section.spotlight.parallaxy.bg-cover.bg-size--cover.angle--bottom-right{"data-spotlight" => "fullscreen", style: "background-image: url(#{@event.default_cover_photo_url})"}
  %span.mask.bg-dark.alpha-7
  .spotlight-holder.py-lg.pt-lg-xl
    .container.d-flex.align-items-center.no-padding
      .col
        .row.cols-xs-space.text-center.text-md-left.justify-content-center
          .col-lg-10
            .text-center.mt-5
              %small.text-muted= @event.starts_at_date_string
              %h1.heading.h1.text-white= @event.name.upcase
              %p.lead.lh-180.text-white.mt-3= @event.short_description
              - if @event.registration_open?(Time.current)
                %a.btn.btn-primary.btn-md{href: "#RegistrationSection"} REGISTER NOW
                - if @event.registration_closes_at < 2.weeks.from_now
                  %br
                  %p.text-warning.mt-2
                    Better hurry! Registration closes soon!
                    You have until #{@event.local_registration_window_closes_text}
              - else
                %div.alert.alert-warning
                  = @event.registration_window_text
