%section.slice#EventsGrid
  .container
    .row.justify-content-center
      .col-lg-7
        .text-center.pt-lg-md
          %h2.heading.h1.mb-4
            Check out our current lineup of events.
%section.slice.bg-tertiary.bg-cover.bg-size--cover{:style => "background-image: url('https://images.unsplash.com/photo-1486393658811-7168187b08b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2803&q=80')"}
  %span.mask.bg-tertiary.alpha-5
  .container
    .row.cols-xs-space.cols-sm-space.cols-md-space
      - @events.each do |event|
        .col-sm-12.col-md-6
          .card.bg-dark.alpha-container.text-white.border-0.overflow-hidden.my-3
            %a{href: event_path(event)}
              .card-img-bg{:style => "background-image: url(#{event.default_cover_photo_url});"}
              %span.mask.bg-dark.alpha-5.alpha-4--hover
              .card-body.px-5.py-5
                %div{:style => "min-height: 300px;"}
                  %h3.heading.h1.text-white.mb-3= event.name
                  %div.mb-3
                    - event.races.not_archived.active.order(:name).decorate.each do |race|
                      %span.badge.badge-primary.badge-lg.my-2= race.name_with_price.html_safe
                  %h4.mt-4.mb-1.h5.text-white= event.starts_at_date_string
                  %h5.mb-1.h5.text-white= event.location.name
                %span.text-white.text-uppercase.font-weight-500{href: event_path(event)}
                  Learn More
                  %i.fas.fa-arrow-right.ml-2
