= simple_form_for @registration,
  url: wizard_path,
  method: :put,
  validate: true do |f|
  = hidden_field_tag(:token, @registration.token)
  = f.error_notification
  - if f.object.errors[:base].present?
    = f.error_notification message: f.object.errors[:base].to_sentence

  .form-inputs
    = f.simple_fields_for :participant do |ff|
      %fieldset
        = ff.input :phone,
          as: :tel,
          hint: "Used for important Race updates.",
          validate: true
        = ff.input :birth_date,
          as: :date,
          start_year: start_year_selection,
          end_year: end_year_selection,
          order: [:month, :day, :year],
          validate: true
        = ff.input :division,
          as: :radio_buttons,
          collection: gender_selection_array,
          item_wrapper_class: "inline custom-control custom-radio",
          label: "Gender Identity",
          validate: true,
          required: true
        %hr
      %fieldset
        %legend Address
        = ff.input :address,
          label: "Full Street Address",
          validate: true,
          required: true
        = ff.input :city, validate: true, required: true
        = ff.input :state,
          label: "State/Country",
          collection: states_list,
          class: "form-control selectpicker",
          prompt: "Select A State",
          required: true
        = ff.input :zip
      - if @event.allows_teams?
        %fieldset
          %legend Team Settings
          = ff.input :team_name,
            label: "Team Name",
            validate: false,
            hint: "Are you doing this race as part of a team? Enter your team name here!",
            required: @registration.race.requires_team_name?
  .form-actions.d-flex.justify-content-between.align-content-center
    = link_to "Back",
      edit_event_registration_path(@event, @registration),
      class: "btn btn-md btn-secondary"
    = f.button :submit, "Next", class: "btn btn-success btn-md"
