= simple_form_for(registration, url: wizard_path, validate: true) do |f|
  = f.error_notification
  - if f.object.errors[:base].present?
    = f.error_notification message: f.object.errors[:base].to_sentence

  .form-inputs
    = f.simple_fields_for :participant do |ff|
      %fieldset
        = ff.input :emergency_contact_name, validate: true
        = ff.input :emergency_contact_phone, as: :tel, validate: true
        = ff.input :medical_conditions,
          as: :text,
          input_html: { class: "textarea-autosize" },
          hint: "Do you have any medical conditions that might affect first aid?"
        %h5 Waiver
        %div.text-muted.waiver-container
          %span= @event.waiver_html.html_safe
        %small.text-danger Please scroll to read the entire term set.
        %b
        = ff.input :accepts_waiver,
          as: :radio_buttons,
          required: true,
          label: "I have read, understood, and accept the agreement above. My submission of this form shall act as my legal signature."

  .form-actions.d-flex.justify-content-between.align-content-center
    = link_to "Back", wizard_path(:details), class: "btn btn-md btn-secondary"
    = f.button :submit, "Next", class: "btn btn-success btn-md"
