!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %meta{content: "Festive, Rugged, Unique Texas Trail Races", name: "description"}
    %meta{content: "Spectrum Trail Racing", name: "author"}
    %title Spectrum Trail Racing
    %link{:href => "https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Nunito:400,600,700,800|Roboto:400,500,700&display=swap", :rel => "stylesheet"}/
    = Gon::Base.render_data
    = favicon_link_tag asset_path("favicon")
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
    // SVG Animation script // temporary
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"}
    - if Rails.env.production?
      = render partial: "shared/drift_script"
  %body{class: "application #{controller_name}", id: "#{controller_name}_#{action_name}"}
    = render "navigation/dark_header"
    %main.main
      = render partial: 'flash_messages', flash: flash
      = yield
    = render partial: "shared/sections/newsletter_signup"
    = render "navigation/footer"
