!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %meta{content: "Festive, Rugged, Unique Texas Trail Races", name: "description"}
    %meta{content: "Spectrum Trail Racing", name: "author"}
    %title Spectrum Trail Racing
    %link{:href => "https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700", :rel => "stylesheet"}/
    = favicon_link_tag asset_path("brand/favicon")
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
  %body
    = render "navigation/header"
    %main.main
      = yield
    = render "navigation/footer"
