!!!
%html
  %head
    = render "layouts/shared/meta_tags"
    %title Spectrum Trail Racing
    %link{:href => "https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700", :rel => "stylesheet"}/
    = favicon_link_tag asset_path("favicon")
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
    = Gon::Base.render_data
  %body{class: "application #{controller_name}", id: "#{controller_name}_#{action_name}"}
    %main.main.with-topo-background{style: "min-height: 100vh; background-color: linen"}
      = render partial: 'flash_messages', flash: flash
      .container.d-flex.align-items-center
        .col
          .row.text-center.text-md-left.justify-content-center.mt-4
            .col-sm-12.col-md-8.col-lg-4
              .card.bg-tertiary.text-white
                .card-body
                  %img.img-fluid{src: asset_path("logo-no-text"), style: "max-width: 8rem;"}
                  = yield
                .card-footer.bg-tertiary
                  = render "devise/shared/links"
